
$estilo-h1:(
  tdisplay: flex,
  bg-color: #000000,
  tcolor: #e6e6e6,
  centro: center,
  txt-alain: center,
  fnt-size: 100px,
  tmargin: auto,
  padding-top: 19px
 );

.div-h1 {
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    align-items: flex-start;
     .h1 {
        // map
        display: map-get($estilo-h1, tdisplay);
        background-color: map-get($estilo-h1, bg-color);
        color: map-get($estilo-h1, tcolor);
        text-align: map-get($estilo-h1, centro);
        font-size: map-get($estilo-h1, fnt-size);
        margin: map-get($estilo-h1, tmargin);
        padding-top: map-get($estilo-h1, padding-top);
        font-family: 'Great Vibes', cursive;
    }
}
